/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
*.log
*.zip
*.iml
*.mp4
*.mp3
*.jpg
*.jpeg
*.tgz
*.gif
assets_old
